ul, li {
	list-style: none;
	padding: 2px;
	margin: 2px 0;
}

#log_stream {
    background-color: rgba(0, 0, 0, .07);
    padding: 20px;
}

#log_stream li.log-ERRO {
    color: red;
    font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}