@media (max-width: 1350px) {
    .game {
        font-size: .7em;
    }
    .button {
        font-size: .7em;
        padding: 2 6px;
        border-radius: 1px;
        margin: 0 5px;
    }

    .header-text2 {
        font-size: 2em;
        margin-top: 10px;
    }

    .chip-values .item {
        width: 3em;
        margin: 0 .10em;
    }

    .chip-values .item span {
        font-size: .8em;
        margin-left: -4px;
    }

    .players {
        top: 10%;
    }

    .blinds {
        top: 10%;
        font-size: .9em;
    }
}

@media (max-height: 750px) {
    .blinds {
        top: 5%;
    }

    .blinds li span {
        padding: 2pt .3em 2pt .3em;
    }

    .blinds li img.chip-up {
        height: 20px;
        width: 20px;
    }

    .blinds li .chip-up-overlay {
        height: 26px;
        width: 25px;
        margin: 0 0 0 -29px;
    }

    .players li span {
        font-size: .8em;
        padding: 0 0 0 1em;
    }
}